<html lang="en">
    <head>
        <title>OAuth 2.0 Implementation</title>
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>OAuth 2.0 Implementation</h1>
                <p>
                    This webpage demonstrates an implementation of OAuth 2.0
                    Server Side flow. Access to the email of your Google+
                    account will be requested. Once access has been granted,
                    the following information will be displayed: first and last
                    name, the URL to acess your Google+ account, and the value
                    of the state variable that was used to secure the original
                    redirect.
                </p>
                <br>
                <div>
                    <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=email&access_type=offline&include_granted_scopes=true&state=ItsOver9000&redirect_uri=http://localhost:8080/oauth&response_type=code&client_id=913425740949-0c0i284ks9elrosgpv5rdh2qvsal8cim.apps.googleusercontent.com">Give Access</a>
                </div>
            </div>
        </div>
    </body>
</html>
