<html lang="en">
    <head>
        <title>OAuth 2.0 Implementation</title>
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>OAuth 2.0 Implementation Results</h1>
                <p>
                    Success, access has been granted.
                </p>
                <br>
                <p>
                   <strong>First Name</strong>: {{fname}} <br>
                   <strong>Last Name</strong>: {{lname}} <br>
                   <strong>Google+ Account</strong>: {{gplink}} <br>
                   <strong>State</strong>: {{state}}
                </p>
            </div>
        </div>
    </body>
</html>
